body {
    background: #1d2026;
}

img#Logo{
    position: relative;
    top: 50px;
}

div#menu{
    color: white;
    position: relative;
    top: 65px;
    right: 5px;
}

div#titlecars{
    color: white;
    text-align: center;
}

div#formcar{
    color: white;
    text-align: center;
}

h2#CompanyName{
    text-align: center;
    color: white;
    position: relative;
    right: 35px;
    bottom: 5px;
}

h4#PodTytul{
    color: white;
    text-align: center;
    bottom: 0px;
    position: relative;
}


text{
    color: white;
}

li{
    font-size: 20px;
}

b#Menu{
    color: white;
    position: relative;
    float: right;
    right: 40px;
    top: 30px;
}

div#titlee{
    color: white;
    text-align: center;
}