body {
    background: #1d2026;
}

div#menu{
    color: white;
    position: relative;
    top: 10px;
    right: 5px;
}

h2#CompanyName{
    color: white;
    position: relative;
    right: 30px;
}

header{
    text-align: center;
    color: white;
    display: block;
    position: relative;
    bottom: 60px; 
}


text{
    color: white;
}

li{
    font-size: 20px;
}

